/* brand font */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* main font */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
/* main font 2 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-icon {
    @apply text-3xl text-gray-500 outline-none cursor-pointer;
  }
  .nav-icon-large {
    @apply hover:bg-gray-200 rounded-full active:scale-95 dark:text-gray-300 dark:hover:bg-gray-100 dark:hover:text-gray-500 text-5xl p-2;
  }
  .nav-toggle-theme {
    @apply cursor-pointer text-gray-500 hover:bg-gray-200 rounded-full active:scale-95 dark:text-gray-300 dark:hover:bg-gray-100 dark:hover:text-gray-500 text-5xl p-2;
  }
  .dark-mode-transition {
    @apply transition-all duration-200 ease-in-out;
  }
  .btn {
    @apply block flex-grow p-2 rounded-full  text-sm transition-transform duration-100 ease-in-out active:scale-95 focus:ring-2 ring-offset-1 font-bold font-main;
  }
  .top-cat {
    @apply text-white font-body font-extrabold text-4xl p-10 rounded-xl bg-cover  text-center bg-center shadow-md hover:shadow-xl transition-all duration-200 ease-in-out hover:scale-105 cursor-pointer w-full min-h-[150px]  min-w-[220px] md:min-h-[200px] lg:min-h-[150px] lg:text-3xl lg:min-w-fit lg:p-4 flex items-center justify-center;
  }
  .trans {
    @apply transition-all duration-200 ease-in-out;
  }
  .load-more {
    @apply text-5xl text-red-500 group-disabled:text-gray-400 lg:group-hover:text-green-400 group-active:scale-90 group-disabled:group-hover:text-gray-400;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}
